:root{
    --clr-black: rgb(0, 0, 0);
    --clr-white: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 120px;
}
body{
    background: url(./bg.webp) center/cover no-repeat;
    height: 100vh;
}h1{
    font-family: "Kalnia Glaze", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}div{
    height: 200px;
    color: black;
}